.custom-collections-block {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 30px; /* Space between columns */
  width: 100%;
}

.collection-card {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collection-card-body {
  padding: 10px;
}

.collection-card img {
  width: 100%;
  height: 60%;
}

.collection-card h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0.5em 0;
}
